<div class = "class"> 
    <h2 class="title">Meu primeiro componente, yay!</h2>
    <div class="contexto">
        <h2>Quem criou esse site bonitão foi o {{name}}.</h2>
        <h2>Sabia que ele tem {{age}} anos de idade?</h2>
        <h2>O que ele faz da vida? Ele é um {{job}}!</h2>
        <h2>Seus hobbies são {{hobbies}}.</h2><br>
        <h2>Além disso, {{name}} também tem um gato de estimação, esse é o gato de {{name}}:
            <br><p>Seu nome é {{gato.name}}. {{gato.name}} é um gato {{gato.raca}} que gosta de {{gato.hobbie}} o teeeeeeeeeempo todo!</p></h2>
            <div>
                <a href="#">Quer me conhecer melhor? Clique aqui e bora ser amigos! :)</a>
            </div>
    </div>
</div>
<!--Continuar video aula na aula 7-->